{{> header}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>PAGINA ABOUT</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero sapiente eius aperiam sunt excepturi similique, totam vitae facere laborum odit error cum tempore nulla iure quia veniam impedit unde nisi.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/img1.jpg" class="img-thumbnail">
    </div>

</div>



{{> footer}}